body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1291px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:712px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:328px;
  width:400px;
  height:712px;
  display:flex;
}
#u39 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:712px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:481px;
  top:328px;
  width:400px;
  height:712px;
  display:flex;
}
#u40 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u40_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u41_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:47px;
  background:inherit;
  background-color:rgba(67, 111, 241, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:867px;
  width:366px;
  height:47px;
  display:flex;
  font-size:15px;
  color:#FFFFFF;
}
#u41 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u42_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:773px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:53px;
  width:773px;
  height:102px;
  display:flex;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u42 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u42_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u43_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:729px;
  width:366px;
  height:40px;
  display:flex;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u43 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u43_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:712px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:891px;
  top:328px;
  width:400px;
  height:712px;
  display:flex;
}
#u44 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u44_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:328px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u45_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-60px;
  width:10px;
  height:60px;
}
#u45_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-60px;
  width:430px;
  height:10px;
}
#u45_seg2 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:-60px;
  width:10px;
  height:60px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:160px;
  top:-77px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:328px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u46_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-120px;
  width:10px;
  height:120px;
}
#u46_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-120px;
  width:840px;
  height:10px;
}
#u46_seg2 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:-120px;
  width:10px;
  height:120px;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:365px;
  top:-126px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:681px;
  top:914px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u47_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:22px;
}
#u47_seg1 {
  border-width:0px;
  position:absolute;
  left:-223px;
  top:12px;
  width:228px;
  height:10px;
}
#u47_seg2 {
  border-width:0px;
  position:absolute;
  left:-223px;
  top:-235px;
  width:10px;
  height:257px;
}
#u47_seg3 {
  border-width:0px;
  position:absolute;
  left:-220px;
  top:-235px;
  width:7px;
  height:10px;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:-268px;
  top:-1px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
